{{> nHeader }}

<div class="notes_wrapper">
  <div class="welcome_div">
    <div class="finedge-welcome">
      <h1 class="finedge-text-logo">FINEDGE</h1>
      <p class="finedge-tagline">Social Intelligence for Modern Investors</p>
      <a href="/signup" class="pri_btn">Get Started Free</a>
    </div>
  </div>
</div>

{{> footer }}
